.box {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.post:hover {
    background: #666;
    transform: scale(1.01);
}

.comment {
    background-color: #444;
    padding: 10px;
    margin: 2px;
}

.box h3 {
    margin: 0 0 10px 0;
}

.box p {
    margin: 0;
}

.box label {
    display: block;
    margin-bottom: 5px;
}

.box input,
.box textarea {
    width: 95%;
    padding: 10px;
    border-radius: 4px;
    color: white;
    margin-bottom: 10px;
    border: none;
    background-color: #666;
}

.box input::placeholder,
.box textarea::placeholder {
    color: #ccc;
}

.box a {
    color: white;
}